<div class="flex flex-col gap-4 mt-3">
  <div class="flex justify-between">
    <mat-paginator
      class="!bg-white"
      [length]="products?.count"
      [pageSize]="shopParams.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="handlePageEvent($event)"
      [pageIndex]="shopParams.pageNumber - 1"
      aria-label="Select page"
    ></mat-paginator>

    <form
      #searchForm="ngForm"
      (ngSubmit)="onSearchChange()"
      class="relative flex items-center w-full max-w-md mx-4"
    >
      <input
        type="search"
        class="border-2 w-full border-gray-300 text-gray-900 rounded-md p-2"
        placeholder="Search"
        name="search"
        [(ngModel)]="shopParams.search"
      />
      <button
        mat-icon-button
        type="submit"
        class="absolute right-0 top-0 bottom-0 px-2 flex justify-center items-center"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div class="flex gap-2 items-center">
      <button
        class="mat-input-height"
        mat-flat-button
        color="primary"
        (click)="openFilterDialog()"
      >
        <mat-icon>filter_list</mat-icon>
        Filter
      </button>
      <button
        class="match-input-height"
        mat-flat-button
        color="primary"
        [mat-menu-trigger-for]="sortMenu"
        class="ml-2"
      >
        <mat-icon>swap_vert</mat-icon>
        Sort
      </button>
    </div>
  </div>
  <div class="grid grid-cols-5 gap-4">
    @for (product of products?.data; track product.id) {
    <app-product-item [product]="product"></app-product-item>
    }
  </div>
</div>
<!-- #sortMenu is declare in [mat-menu-trigger-for] -->
<mat-menu #sortMenu="matMenu">
  <mat-selection-list multiple="false" (selectionChange)="onSortChange($event)">
    @for (sort of sortOptions; track $index) {
    <mat-list-option
      [value]="sort.value"
      [selected]="sort.value === shopParams.sort"
    >
      {{ sort.name }}
    </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
